* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "my font";
    scroll-behavior: smooth;
    font-family: "myFont";
}

@font-face {
    font-family: "myFont";
    src: url(./font.ttf);
}

body {
    height: 100%;
    width: 100%;
    font-family: myFont;
    background-color: #f5f7fb;
}

.nav-bar {
    width: 100%;
    height: 10vh;
    background-color: rgb(45, 149, 150);
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 13px;
    font-size: 1.8vw;
    font-weight: 900;
}

.list {
    display: flex;
    justify-content: end;
    /* align-items: center; */
    padding: 10px;
}

.list li a {
    position: relative;
    transition: .5s;
}

.list li a:hover {
    color: aqua;
}

.list li a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-bottom: 2px solid aqua;
    transform: scale(0) translateY(50px);
    transition: .5s;
}

.list li a:hover span {
    transform: scale(1) translateY(0);
    opacity: 1;
}

.list li {
    margin: 10px;
    list-style-type: none;
    font-size: 1.2vw;
    text-transform: uppercase;
}

.list-footer img {
    width: 30px;
}

.list li a {
    text-decoration: none;
    color: black;
}

.white {
    color: white;
}







.navbar-container1 {
    width: 100%;
    padding: 25px;
    background-color: aqua;
    position: fixed;
    bottom: 0;
    display: none;

}

.navbar1 {

    display: flex;
    justify-content: space-around;

}

.navbar-links1 {
    display: flex;
    list-style: none;
    gap: 70px;
}

a {
    text-decoration: none;
}






.heading {
    text-align: center;
    color: ;
    font-weight: 600;
    font-size: 40px;
    margin-top: 90px;
}

.sub-heading {
    text-align: center;
    margin-top: 20px;
    color: ;
    font-size: 13px;
    font-family: "Poetsen One", sans-serif;
    font-style: normal;
}

.contact-container {
    width: 80%;
    background-color: white;
    box-shadow: 0 0 10px 2px rgb(177, 174, 174);
    margin: auto;
    border-radius: 20px;
    margin-top: 70px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.contact-details {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    padding: 5vw 5vw;    
}

label {
    margin-bottom: -15px;
    margin-left: 15px;
    color: ;
    font-size: 14px;
    font-family: "Poetsen One", sans-serif;
    font-style: normal;
}

.input-box {
    height: 50px;
    width: 25vw;
    border-radius: 20px;
    padding: 10px;
    border: 2px solid #;
    color: ;
    font-family: "Poetsen One", sans-serif;
    font-style: normal;

}

.textarea-box {

    border-radius: 20px;
    padding: 10px;
    border: 2px solid;
    color: ;
    font-family: "Poetsen One", sans-serif;
    font-style: normal;

}

.contact-details h2 {

    font-weight: 600;
    color: ;
    font-size: 40px;
    margin-bottom: 5px;
}

.container-button {
    margin-left:80px;
    width: 70%;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 30px;
    font-size: large;
    border: 2px solid;
    border-radius: 5px;
    background-color: #9AD0C2;
    border: 2px solid #9AD0C2;


}

.container-button:hover {
    background-color: #2D9596;
    border: 2px solid #2D9596;

}

.container-button img {

    height: 25px;

}

.image-container {
    margin-right: 30px;
    margin-top: 70px;

}

.image-container img {
    height: 60vh;
}









.address-detail {
    display: flex;
    justify-content: center;
    gap: 9vw;
    height: 29vh;
    margin-top: 3vh;
}

.info {
    height: 15vh;
    width: 17vw;
    margin-top: 50px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: ;
}

.info img {
    border-radius: 50%;
    border: 1px solid;
    padding: 10px;
    height: 50px;
}

.last-container {

    display: flex;
    width: 70vw;
    margin: 0 auto;
    margin-top: 15px;
}

.last-image {
    border-radius: 25px;
    height: 30vh;
    width: 20vw;
    margin-left: 90px;
    box-shadow: 0 0 10px 5px rgb(177, 174, 174);
}

.last-heading {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 14vw;
    font-size: 30px;
    color: ;
}

.last-para {
    margin-left: 9vw;
    margin-top: 25px;
    font-size: 11px;
    font-family: "Poetsen One", sans-serif;
    font-style: normal;
    color: ;
    text-align: justify;
}

.btn {
    margin-left: 10vw;
    margin-top: 27px;
    padding: 10px;
    font-size: small;
    color: ;
    background-color: #9AD0C2;
}

.last-container1 {
    display: flex;
    width: 70vw;
    margin: 0 auto;
    margin-top: 15vh;

}

.last-heading1 {

    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: ;
    margin-left: 90px;
}

.last-image1 {
    border-radius: 25px;
    height: 30vh;
    width: 20vw;
    margin-left: 9vw;
    box-shadow: 0 0 10px 5px rgb(177, 174, 174);
}

.last-para1 {
    margin-top: 25px;
    font-size: 11px;
    font-family: "Poetsen One", sans-serif;
    font-style: normal;
    /* color: ; */
    text-align: justify;
    margin-left: 90px;

}

.btn1 {
    margin-left: 5vw;
    margin-top: 27px;
    padding: 10px;
    font-size: small;
    color: #3c1c11;
}

.footer-section {
    width: 100%;
    margin-top: 80px;

}

.footer-navbar {
    width: 100%;
    background-color: rgb(45, 149, 150);
    color: black;
    padding: 1vw;
}

.parent-holder {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    /* border: 1px solid red; */
}

.social-media p,
.footer-info p,
.pages p {
    font-size: 1.5vw;
}

.list-footer img {
    width: 1.8vw;
}

.list-footer a {
    font-size: 1.5vw;
}

.footer-info {
    width: 30%;
}

.footer-info-2 {
    width: 40%;
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    margin-top: 1.5vw;
}

.pages {
    width: 30%;
}

.social-media ul a,
.pages ul li a {
    text-decoration: none;
    /* margin: 5px; */
    color: black;
}

.social-media ul li,
.pages ul li {
    list-style: none;
}

.list-footer li,
p {
    margin: 1vw;
}

.list-footer li a {
    position: relative;
    transition: .5s;
}

.list-footer li a:hover {
    color: aqua;
}

.list-footer li a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-bottom: 2px solid aqua;
    transform: scale(0) translateY(50px);
    transition: .5s;
}

.list-footer li a:hover span {
    transform: scale(1) translateY(0);
    opacity: 1;
}

.copyright {
    text-align: center;
    border-top: 1px solid rgb(53, 53, 53);
}

.copyright p {
    font-size: 1.5vw;
}



/*small Device*/
@media screen and (max-width:600px) {
    .image-container {
        display: none;
    }

    input[type="text"],.textarea-box{
        width: 100%;
        
    }

    span,h5{
        display: none;
    }

    .btn{
        margin: 0 9vw;
        width: 70%;
    }

    .btn1{

        margin: 0 15vw;
        width: 70%;
    }

    
    .last-container, .last-container1{
        width: 80%;
        
    }
  
    .last-heading1{
        font-size: 2.2vw;
    } 


    .last-heading {
        margin-left:9vw;
        font-size: 2.2vw;
    }

    .txt-info {
        font-size: 1.8vw;
    }

    .list-footer li a{
        font-size: 2vw;
    }

    .footer-info p,.social-media p, .pages p{
        font-size: 2vw;
    }    

    .list li a{
        font-size: 2vw;
    }

    .copyright p{
        font-size: 2vw;
    }
}

/*Normal Device*/
@media screen and (min-width:601px) and (max-width:768px) {
    .image-container {
        display: none;
    }

    input[type="text"],.textarea-box{
        width: 100%;
        
    }

    h5, h5 span{
        display: none;
    }

    .btn{
        margin: 0 9vw;
        width: 70%;
    }

    .btn1{
        width: 70%;
        margin: 0 15vw;
    }

    .txt-info {
        font-size: 1.9vw;
    }

    .last-heading1{
        font-size: 2.4vw;
    }

    .last-heading{
        margin-left:9vw;
        font-size: 2.4vw;
    }

    .list li a{
        font-size: 2vw;
    }

    .list-footer li{
        font-size: 2.1vw;
    }

    .footer-info p,.social-media p, .pages p{
        font-size: 2vw;
    } 

    .copyright p{
        font-size: 2vw;
    }
}

/*Tablets Device*/
@media screen and (min-width:769px) and (max-width:992px) {
    .image-container {
        display: none;
    }

    .container-button {
        width: 100%;
    }

    .contact-details{
        width: 100%;
        /* margin: auto; */
        /* border: 1px solid red; */
        text-align: center;
    }

    input[type="text"],.textarea-box{
        width: 100%;
        
    }

    h5, h5 span{
        display: none;
    }
   

    .btn{
        margin: 0 9vw;
        width: 70%;
    }

    
    .btn1{
        width: 70%;
        margin: 0 12vw;
    }

    .txt-info {
        font-size: 1.4vw;
    }

    .last-heading1{
        font-size: 2.4vw;
    }

    .last-heading{
        margin-left:9vw;
        font-size: 2.4vw;
    }

    .list li a{
        font-size: 2vw;
    }

    .list-footer li{
        font-size: 2vw;
    }

    .copyright p{
        font-size: 2vw;
    }

    .footer-info p,.social-media p, .pages p{
        font-size: 2vw;
    } 
}


/*Large Device*/
@media screen and (min-width:993px) and (max-width:1250px) {
    .image-container {
        display: none;
    }

    .logo {
        font-size: 2.5vw;
    }

    .txt-info {
        font-size: 1.7vw;
    }

    .container-button {
        width: 100%;
    }

    /* .container{
        width: 80%;
    } */

    .contact-details{
        width: 100%;
        /* margin: auto; */
        /* border: 1px solid red; */
        text-align: center;
    }

    input[type="text"],.textarea-box{
        width: 100%;
        
    }

    .btn{
        margin: 0 5vw;
    }

    /* span{
        font-size: 1.3vw;
    } */

    .btn{
        width: 70%;
        margin: 0 9vw;
    }
      
    .btn1{
        width: 70%;
        margin: 0 9vw;
    }

}